<center><h1>All Superpowers</h1>


<% @powers.each do |p| %>
Name: <%= link_to p.name, power_path(p) %><br><br><br>
<% end %>
<br><br><br>
<!-- <strong><%= link_to "New Power", new_power_path %><center></strong> -->
