<h1>Edit Heroine Form</h1>

<% if flash[:errors] %>
  <ol>
    ERROR(s):
    <br>
    <% flash[:errors].each do |error| %>
       <li><%= p error %></li>
    <% end  %>
  </ol>
<% end %>

<%= render "form" %>
