<center><h1>ALL THE HEROINES</h1>

<% @heroines.each do |hero| %>
Name: <%= link_to hero.super_name, heroine_path(hero) %><br><br><br>
<% end %>
<strong><%= link_to "New Heroine", new_heroine_path %></strong>
</center>
