<h2 align="center"><u>All Heroines</u></h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to "#{heroine.super_name}", heroine %>
    </li>
    <br>
  <% end %>
</ul>

<br><br><br>

<%= link_to 'View Superpowers Page', powers_path %>    ||    <%= link_to 'Create A Superheroine!', new_heroine_path %>
