
<h1 align="center">Add A New Heroine!</h1>
<br><br><br>

<%= render 'error' %>
<br><br><br>
<%= render 'form' %>
<br><br>
<%= link_to 'Heroines Page', heroines_path %>  ||  <%= link_to 'Superpowers Page', powers_path %>
