<h1><%= @heroine.name %></h1>

<h3>Supa Name!</h3> <%= @heroine.super_name %> <br>
<h3>Supa Powa!</h3> <%= link_to @heroine.power.name, @heroine.power %>
<br><br><br>

<%= link_to "Go back to all the heroinez", heroines_path %>

<img src="http://www.comicsbeat.com/wp-content/uploads/2018/05/DCSuperHeroGirls-Feature.jpg" alt="">
